@model cogbank.model.ViewModels.ContaCorrenteViewModel
@{
	Layout = null;
}
@Html.HiddenFor(x => x.ID)
<div class="row">
	<div class="col-md-2">
		<div class="form-group">
			<label class="form-label">@Html.DisplayNameFor(x => x.Numero) <span class="required">*</span></label>
			@Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
			@Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">
			<label class="form-label">@Html.DisplayNameFor(model => model.TipoDeContaID) <span class="required">*</span></label>
			@Html.DropDownListFor(model => model.TipoDeContaID, new SelectList(ViewBag.TiposDeConta, "Valor", "Nome"), "", new { @class = "form-control", @style = "width:100%", required = "" })
			@Html.ValidationMessageFor(model => model.TipoDeContaID, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="col-md-5">
		<div class="form-group">
			<label class="form-label">@Html.DisplayNameFor(x => x.NomeDoTitular) <span class="required">*</span></label>
			@Html.EditorFor(model => model.NomeDoTitular, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
			@Html.ValidationMessageFor(model => model.NomeDoTitular, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label class="form-label">@Html.DisplayNameFor(x => x.Saldo) <span class="required">*</span></label>
			@Html.EditorFor(model => model.Saldo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
			@Html.ValidationMessageFor(model => model.Saldo, "", new { @class = "text-danger" })
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('#@Html.IdFor(x => x.Saldo)').maskMoney();
    });
</script>